body {
	font-family: 'Inter', sans-serif;
}
header {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	height: 100vh;
}

.gambar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45vw;
}

.gambar img {
	width: 70%;
}

.login {
	width: 50vw;
	display: flex;
	justify-content: center;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
}

.login form {
	background-color: #ffffff;
	padding-top: 1vw;
	padding-bottom: 2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35vw;
	border-radius: 10px;
}

.login h1 {
	margin-bottom: 3vw;
	font-style: normal;
	font-weight: 700;
	font-size: 33px;
	line-height: 40px;

	color: #1e1e1e;
}

.login img {
	width: 14%;
}

.login form .mb-3 {
	margin-top: 6%;
	box-sizing: border-box;
	background: linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
	border: 1px solid rgba(10, 10, 10, 0.1);
	border-radius: 10px;
	width: 30vw;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	color: rgba(30, 30, 30, 0.7);
}

.login form #btn-login {
	margin-top: 6%;
	background-color: #3792de;
	width: 30vw;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
	background: linear-gradient(0deg, #3792de, #3792de), #3792de;
	border: 1px solid #bbbbbb;
	border-radius: 10px;
}

#or {
	display: flex;
	align-items: center;
	margin: 1vw;
}

#or hr {
	background: rgba(30, 30, 30, 0.2);
	height: 2px;
	width: 13vw;
}

.login #or h3 {
	margin: 0 4px;
	padding: 0 2px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: rgba(30, 30, 30, 0.6);
}

.ubah-password button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fb3c3c;
	color: #ffffff;
	width: 224px;
	height: 45px;
	border-radius: 10px;
	border: 0cm;
}

.ubah-password img {
	padding: 2px;
	margin: 2px;
}

.ubah-password h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	color: #ffffff;
	margin: 0;
}

/* beranda */

html,
body {
	scroll-behavior: smooth;
	position: relative;
	height: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9f9f9;
	border-color: #d9d9d9;
	padding: 0 3vw;
	overflow: none;
	position: fixed;
	width: 100%;
}

nav #logo {
	width: 10vw;
}

nav #profil {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #32415d;
	padding: 0.6vw 1vw;
	border-radius: 30px;
	margin: 1vw 0;
}

nav #profil img {
	width: 3vw;
	height: 3vw;
	margin-right: 0.2vw;
}

#nama h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #f9f9f9;
	margin: 0;
}

#nama h2 {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	color: #f9f9f9;
	margin: 0;
}

.konten {
	display: flex;
	flex-direction: row;
}

/* sidenav */
.sidenav {
	height: 100vh;
	width: 200px;
	background-color: #fefefe;
	border-right: solid 1px #d9d9d9;
	overflow-x: hidden;
	padding-top: 20px;
	overflow: none;
	position: fixed;
	height: 87.7vh;
	bottom: 0;
}

.logout {
	border-radius: 20px;
	margin: 0 28px;
	position: absolute;
	bottom: 20px;
}

.sidenav img {
	margin-right: px;
	width: 23px;
}

.sidenav a {
	text-decoration: none;
	font-size: 20px;
	color: #32415d;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}
.dropdown-btn {
	padding: 0px 0px 0px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #32415d;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}
.sidenav a:hover,
.dropdown-btn:hover {
	color: #d13737;
}

.beranda a {
	padding: 0px 0px 0px 16px;
	text-decoration: none;
	font-size: 20px;
	background-color: none;
	color: #32415d;
}

.beranda a img {
	margin-right: 5px;
}
.beranda a:hover {
	color: #d13737;
}

.dropdown-btn:active {
	color: #d13737;
}
.dropdown-container button {
	text-decoration: none;
	border: 0;
	font-size: 18px;
	background: none;
	color: #32415d;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	padding: 0px 2px 2px 40px;
}

.dropdown-container button:hover {
	color: #d13737;
}

.dropdown-container .active {
	color: #d13737;
}

/* Main beranda */
.main {
	margin-left: 0px;
	margin-top: 20px;
	font-size: 20px;
	padding: 0px 30px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	background-color: #fefefe;
	width: 83vw;
	height: 87.8vh;
	bottom: 0px;
	right: 2px;
}

.active {
	background-color: #d9d9d9;
	color: #d13737;
}

.dropdown-container {
	display: none;
	background-color: #eff0f0;
	padding-left: 8px;
}

.fa-caret-down {
	padding-right: 8px;
	margin-left: 8px;
}

.form-inline {
	display: flex;
	padding-top: 20px;
}

.form-inline button {
	margin-top: 20px;
	margin-left: 20px;
	color: #32415d;
	border-color: #32415d;
}

.form-inline button:hover {
	background-color: #32415d;
	color: #fefefe;
	border-color: #fefefe;
}

.main h1 {
	margin-top: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #1e1e1e;
	margin-left: 10px;
}

#mapel .row {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}

.col-sm-4 {
	margin: 10px 0px;
}

#mapel .card {
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
	background: #ffffff;
	border-radius: 15px;
	width: fit-content;
}

#mapel .card-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: fit-content;
	color: white;
	padding: 30px 20px;
	background: rgba(50, 65, 93, 0.9);
	border-radius: 10px 10px 0px 0px;
}

#mapel .card-body h5 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	margin: 0px;
}

#mapel .card-body h4 {
	margin: 4px 0;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #ffffff;
}

#mapel .card-body p {
	margin: 0px;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
}

#mapel .card-body img {
	margin-left: 20px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border-color: #d9d9d9;
}

#mapel a {
	margin: 15px 70px;
	background: rgba(50, 65, 93, 0.9);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	border-color: #32415d;
	color: #ffffff;
}

/* main absensi siswa */
#absen h1 {
	margin-top: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 61px;
	color: #1e1e1e;
	text-align: center;
	color: #4d4d4d;
}

#absen p {
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 20px;

	color: #797979;
	text-align: center;
}

#absenCard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#absenCard .card {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50vw;
	margin: 8px;
	padding-left: 20px;
	border: #4d4d4d;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
	background: #ffffff;
	border-radius: 15px;
}

#absenCard .card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#absenCard .card img {
	width: 40px;
	height: 40px;
}
#judulPertemuan {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#absenCard p {
	font-size: 16px;
	text-align: left;
}

#absenCard h5 {
	font-size: 20px;
	text-align: left;
	margin-top: 20px;
}
#absenCard #absensi {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#absenCard .absen {
	margin: 40px 0px;
	display: flex;
	justify-content: space-around;
	width: 80%;
}
#absenCard .form-check {
	justify-content: center;
	align-items: center;
	display: flex;
}

#absenCard .form-check input {
	border: #4d4d4d solid;
	margin-right: 10px;
	color: #4d4d4d;
	margin-bottom: 10px;
}

#absenCard .form-check label {
	color: #4d4d4d;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin-right: 10px;
}

#absenCard .btn {
	width: 100px;
	height: 30px;
	background: #3792de;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 20px;
}

/* main detail mapel */
#pertemuan {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pertemuan .card {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70vw;
	margin: 8px;
	padding-left: 20px;
	border: #4d4d4d;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
	background: #ffffff;
	border: 1px solid #4d4d4d;
	border-radius: 15px;
}

#pertemuan .card img {
	width: 40px;
	height: 40px;
}

#pertemuan p {
	font-size: 16px;
	text-align: left;
	padding-left: 6px;
}

#pertemuan .title {
	font-size: 20px;
	text-align: left;
	color: #32415d;
	background: none;
	border: none;
}

#pertemuan h5:hover {
	color: #d13737;
}

/* detail daftar hadir guru */
#daftarHadir {
	align-items: center;
	padding: 10px 20px;
	border: #4d4d4d;
	background: #ffffff;
	border-radius: 15px;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
}
#presensi h1 {
	margin-top: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 61px;
	color: #1e1e1e;
	text-align: center;
	color: #4d4d4d;
	margin-bottom: 0;
}

#presensi p {
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #797979;
	text-align: center;
}

#daftarHadir h2 {
	margin-top: 10px;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 61px;
	color: #1e1e1e;
	text-align: center;
	color: #4d4d4d;
	margin-bottom: 0;
}

.table th {
	text-align: center;
}
#daftarHadir #aksi {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 18px;
	padding: 10px 0;
}
#daftarHadir #lihat {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #f9f9f9;
	background: #2d9cdb;
	border: 1px solid rgba(30, 30, 30, 0.2);
	border-radius: 10px;
	padding: 0 10px;
}

#daftarHadir #lihat img {
	margin-right: 6px;
	width: 25px;
	height: 25px;
}

#daftarHadir #edit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #f9f9f9;
	background: #28a745;
	border: 1px solid rgba(30, 30, 30, 0.2);
	border-radius: 10px;
	padding: 0 10px;
}

#daftarHadir #edit img {
	margin-right: 6px;
	width: 25px;
	height: 25px;
}

/* dashboard admin */
#fitur .row {
	margin-top: 2vw;
}

#fitur .registrasi,
.modul {
	display: flex;
	justify-content: space-around;
}

#fitur p {
	color: #4d4d4d;
	margin-top: 20px;
	margin-bottom: 6px;
}

#fitur .card {
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.2));
	background: #32415d;
	border-radius: 15px;
	border-color: #ffffff;
	color: #4d4d4d;
	margin-right: 20px;
	width: 500px;
}

#fitur .card-body {
	background: #ffffff;
	margin-bottom: 4px;
	border-radius: 14px;
	border-color: #ffffff;
	color: #4d4d4d;
}

#fitur .card-body p {
	margin-top: 0px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}
